/* color scheme sourced from http://khroma.co/generator/ */
:root {
  --outer-space: #212646;
  --bright-turquoise: #ffe556;
  --gin: #ffffff;
  --heliotrope: #138dd9;
}

* {
  box-sizing: border-box;
}

::selection {
  background-color: var(--bright-turquoise);
  color: var(--outer-space);
}

html {
  /* set 1rem to 10px instead of native 16px to make it easier to calculate font-size values for the rest of the page (e.g. 1.6rem is 16px, 2.0rem is 20px, etc.) */
  font-size: 62.5%;
}

body {
  /* Sans Serif font stack is implemented to help select the best font for each type of computer operating system */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
  Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  
  /* set body font size to 1.75rem, which is 1.75x more than the font-size of 10px, making it 17.5px  */
  font-size: 1.75rem;
  line-height: 1.5;
  color: var(--gin);
  background-color: var(--outer-space);
  margin: 0;
}

h1 {
  /* 4rem = 40px (4 * 10px) */
  font-size: 4rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.5rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1.5rem;
}

p {
  margin-bottom: 1rem;
}

header {
  padding: 2.5rem;
  text-align: center;
  background: var(--outer-space);
  color: #fff;
  margin: 0 auto;
}

header h1.page-title {
  padding: 1rem 1.2rem;
  font-size: 4.5rem;
}

nav.header-nav {
  padding: 1rem 1rem 3em 5em;
  font-size: 2rem;
  text-align: right;
  text-decoration: none;
  display: block;
  background-color: var(--outer-space);
  text-decoration: block;
}

nav.header-nav a {
  float: right;
  color: rgb(255, 255, 255);
  padding: 12px;
  font-size: 1em;
  line-height: 1em;
  border-radius: 4px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  display: block;
}

nav.header-nav li a:hover {
  background-color: #ffffff;
  color: #000000;
  font-weight: bold;
  text-decoration: none;
  box-shadow: inset 0px 0px 8px var(--heliotrope), 0 0 15px var(--heliotrope);
  background-image: linear-gradient(
    var(--outer-space) 0%,
    #ffffff 100%
  );
}

nav.sub-header-nav {
  padding: 1rem 1rem;
  font-size: 2rem;
  text-align: right;
  display: flex;
  position: fixed;
  background-color: var(--heliotrope);
  text-decoration: none;
}

nav.sub-header-nav a {
  text-align: right;
  float: right;
  color: rgb(255, 255, 255);
  padding: 12px;
  font-size: 1em;
  line-height: 1em;
  border-radius: 4px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
}

nav.sub-header-nav li a:hover {
  background-color: #ffffff;
  color: #000000;
  font-weight: bold;
  text-decoration: none;
  box-shadow: inset 0px 0px 8px var(--heliotrope), 0 0 15px var(--heliotrope);
  background-image: linear-gradient(
    var(--outer-space) 0%,
    #ffffff 100%
  );
}

main {
  display: flex;
  flex-wrap: wrap;
}

aside {
  flex: 1;
  background-color: var(--heliotrope);
  padding: 20px;
}

section {
  flex: 3;
  background-color: #fff;
  padding: 20px;
}

.header img {
  float: left;
  width: 10em;
  height: 7em;
  background: #555;
}

.sample-img {
  background-color: #fff;
  width: 100%;
  padding: 20px;
  height: 200px;
  border: 1px solid black;
}

footer {
  padding: 20px;
  text-align: center;
  background: #13293d;
  color: #fff;
}

@media screen and (min-width: 500px) {
  /* Use flex-direction to stack the navbar, sidebar, and body */
  main,
  nav {
    flex-direction: row;
  }
  /* Make the sidebar stack below the body */
}

@media screen and (min-width: 768px) {
  /* on tablets, set columns to only be 50% of the width and not grow */
  .card-column {
    flex: 20% 20% 50%;
    max-width: 50%;
  }

  /* select the last child to grow to full width if it has space to grow */
  .card-column:last-child {
    flex-grow: 1;
  }
}
/* media query for larger screens */
@media screen and (min-width: 992px) {
  header {
    width: 75%;
  }

  .card-column {
    flex: 0 0 33.333%;
    max-width: 33.333%;
  }
}

